[submodule "modules/StoreFront"]
	path = modules/StoreFront
	url = https://github.com/inacioferrarini/lojinha-storefront.git
[submodule "modules/Common"]
	path = modules/Common
	url = https://github.com/inacioferrarini/lojinha-common.git
[submodule "modules/Main"]
	path = modules/Main
	url = https://github.com/inacioferrarini/lojinha-main.git
[submodule "modules/Login"]
	path = modules/Login
	url = https://github.com/inacioferrarini/lojinha-login
